!!!
%html
  %head
    %title Лр1
    %meta{:charset => "utf-8"}/
    %link{:href => "../css.css", :rel => "stylesheet", :type => "text/css"}/
  %body
    %div
      %header
        %h1{:align => "center"} Сайт Качановой Ксении
      %nav
        %ul.ots
          %li
            %a{:href => "main.html"} Главная
          %li
            %a{:href => "obomne.html"} Обо мне
          %li
            %a{:href => "interes.html"} Мои интересы
          %li
            %a{:href => "foto.html"} Фотоальбом
          %li
            %a{:href => "study.html"} Учеба
          %li
            %a{:href => "cont.html"} Контакты
    .picture
      .grid1
        .grid2
          %img.picture1{:src => "../5.jpg"}/
          .grid3
            %span Джереми Скотт и Ирина Шейк
      .grid1
        .grid2
          %img.picture1{:src => "../6.jpg"}/
          .grid3
            %span Джастин в Drew и Хейли Бибер
      .grid1
        .grid2
          %img.picture1{:src => "../7.jpg"}/
          .grid3
            %span Зои Кравиц
      .grid1
        .grid2
          %img.picture1{:src => "../8.jpg"}/
          .grid3
            %span Джиджи Хадид
      .grid1
        .grid2
          %img.picture1{:src => "../9.jpg"}/
          .grid3
            %span Кендалл Дженнер
      .grid1
        .grid2
          %img.picture1{:src => "../10.jpg"}/
          .grid3
            %span Кайя Гербер
      .grid1
        .grid2
          %img.picture1{:src => "../11.jpg"}/
          .grid3
            %span Мэйси Уильямс
      .grid1
        .grid2
          %img.picture1{:src => "../12.jpg"}/
          .grid3
            %span Эмили Блант
      .grid1
        .grid2
          %img.picture1{:src => "../13.jpg"}/
          .grid3
            %span Lil Nas X
      .grid1
        .grid2
          %img.picture1{:src => "../14.jpg"}/
          .grid3
            %span Хелен Лисичан и Фаррелл Уильямс
      .grid1
        .grid2
          %img.picture1{:src => "../15.jpg"}/
          .grid3
            %span Кара Делевинь
      .grid1
        .grid2
          %img.picture1{:src => "../16.jpg"}/
          .grid3
            %span Трой Сиван
      .grid1
        .grid2
          %img.picture1{:src => "../17.jpg"}/
          .grid3
            %span Граймс
      .grid1
        .grid2
          %img.picture1{:src => "../18.jpg"}/
          .grid3
            %span Лили Рейнхарт
      .grid1
        .grid2
          %img.picture1{:src => "../19.jpg"}/
          .grid3
            %span Тесса Томпсон
      .grid1
        .grid2
          %img.picture1{:src => "../20.jpg"}/
          .grid3
            %span Наталия Брайант
      .grid1
        .grid2
          %img.picture1{:src => "../21.jpg"}/
          .grid3
            %span Кристин Фросет
      .grid1
        .grid2
          %img.picture1{:src => "../22.jpg"}/
          .grid3
            %span Кид Кади
      .grid1
        .grid2
          %img.picture1{:src => "../23.jpg"}/
          .grid3
            %span Виттория Черетти
      .grid1
        .grid2
          %img.picture1{:src => "../24.jpg"}/
          .grid3
            %span Уинни Харлоу
      .grid1
        .grid2
          %img.picture1{:src => "../25.jpg"}/
          .grid3
            %span Эрика Баду
  %footer