!!!
%html
  %head
    %title Лр1
    %meta{:charset => "utf-8"}/
    %link{:href => "../css.css", :rel => "stylesheet", :type => "text/css"}/
  %body
    %div
      %header
        %h1{:align => "center"} Сайт Качановой Ксении
      %nav
        %ul.ots
          %li
            %a{:href => "main.html"} Главная
          %li
            %a{:href => "obomne.html"} Обо мне
          %li
            %a{:href => "interes.html"} Мои интересы
          %li
            %a{:href => "foto.html"} Фотоальбом
          %li
            %a{:href => "study.html"} Учеба
          %li
            %a{:href => "cont.html"} Контакты
    %div
      %section.ot1
        %header
          %h1{:style => "position:relative;top:20px;color:white;"} Мои интересы
        %h3{:style => "position:relative;top:20px;"}
          %a{:href => "#1"} Сериалы
        %h3{:style => "position:relative;top:20px;"}
          %a{:href => "#2"} Водить машину
        %h3{:style => "position:relative;top:20px;"}
          %a{:href => "#3"} Ждать парня из армии
        %p
          %a{:name => "1"}
        %h3{:style => "position:relative;top:30px;"} Сериалы
        %h4{:style => "position:relative;top:20px;"} Турецкие сериалы
        %h4{:style => "position:relative;top:20px;"} Американсике сериалы
        %h4{:style => "position:relative;top:20px;"} Дорамы
        %p
          %a{:name => "2"}
        %h3{:style => "position:relative;top:30px;"} Водить машину
        %img{:height => "350px", :src => "../3.jpg", :style => "position:relative; left:100px; top:50px;", :width => "500px"}/
        %p
          %a{:name => "3"}
        %h3{:style => "position:relative;top:50px;"} Ждать парня из армии
        %img{:height => "340px", :src => "../4.jpg", :style => "position:relative;left:200px;top:50px; bottom:150px;", :width => "260px"}/
  %footer