!!!
%html
  %head
    %title Лр1
    %meta{:charset => "utf-8"}/
    %link{:href => "../css.css", :rel => "stylesheet", :type => "text/css"}/
  %body
    %div
      %header
        %h1{:align => "center"} Сайт Качановой Ксении
    %div
      %nav
        %ul.ots
          %li
            %a{:href => "main.html"} Главная
          %li
            %a{:href => "obomne.html"} Обо мне
          %li
            %a{:href => "interes.html"} Мои интересы
          %li
            %a{:href => "foto.html"} Фотоальбом
          %li
            %a{:href => "study.html"} Учеба
          %li
            %a{:href => "cont.html"} Контакты
    %div
      %img{:height => "340px", :src => "../1.jpg", :style => "position:relative;left:250px;right:100px;top:50px; align=left", :width => "250px"}/
      %h3{:style => "position:absolute;left:550px;right:100px;top:250px;"}
        %big Качанова Ксения. Студентка группы ПИ/б-19-1-о. Выполнение Лабораторной работы №1.
  %footer