!!!
%html
  %head
    %title Лр1
    %meta{:charset => "utf-8"}/
    %link{:href => "../css.css", :rel => "stylesheet", :type => "text/css"}/
  %body
    %div
      %header
        %h1{:align => "center"} Сайт Качановой Ксении
      %nav
        %ul.ots
          %li
            %a{:href => "main.html"} Главная
          %li
            %a{:href => "obomne.html"} Обо мне
          %li
            %a{:href => "interes.html"} Мои интересы
          %li
            %a{:href => "foto.html"} Фотоальбом
          %li
            %a{:href => "study.html"} Учеба
          %li
            %a{:href => "cont.html"} Контакты
    .ots
      %h3 Севастопольский государственный университет. Кафедра "Информационные системы  и  технологии"
      %h3
        %a{:href => "test.html"} Тест
        %h3
      %table{:border => "1", :cellpadding => "10", :cellspacing => "0"}
        %tr
          %th{:align => "center", :colspan => "9"} ПЛАН УЧЕБНОГО ПРОЦЕССА
        %tr
          %th{:rowspan => "2"} №
          %th{:rowspan => "2"} Дисциплина
          %th{:rowspan => "2"} Кафедра
          %th{:colspan => "6"} Всего часов
        %tr
          %th Всего
          %th Ауд
          %th Лк
          %th Лб
          %th Пр
          %th СРС
        %tr
          %th 1
          %th Экология
          %th БЖ
          %th 54
          %th 27
          %th 18
          %th 0
          %th 9
          %th 27
        %tr
          %th 2
          %th Высшая математика
          %th ВМ
          %th 540
          %th 282
          %th 141
          %th 0
          %th 141
          %th 258
        %tr
          %th 3
          %th Русский язык и культура речи
          %th НГиГ
          %th 108
          %th 54
          %th 18
          %th 0
          %th 36
          %th 54
        %tr
          %th 4
          %th Основы дискретной математики
          %th ИС
          %th 216
          %th 139
          %th 87
          %th 0
          %th 52
          %th 77
        %tr
          %th 5
          %th Основы программирования и алгометрические языки
          %th ИС
          %th 405
          %th 210
          %th 105
          %th 87
          %th 18
          %th 195
        %tr
          %th 6
          %th Основы экологии
          %th ПЭОП
          %th 54
          %th 27
          %th 18
          %th 0
          %th 9
          %th 27
        %tr
          %th 7
          %th Теория вероятности и математическая статистика
          %th ИС
          %th 162
          %th 72
          %th 54
          %th 18
          %th 0
          %th 90
        %tr
          %th 8
          %th Физика
          %th Физики
          %th 324
          %th 194
          %th 106
          %th 88
          %th 0
          %th 130
        %tr
          %th 9
          %th Основы электротехники и электнроники
          %th ИС
          %th 108
          %th 72
          %th 36
          %th 18
          %th 18
          %th 36
        %tr
          %th 10
          %th Численные методы в инворматике
          %th ИС
          %th 189
          %th 89
          %th 36
          %th 36
          %th 17
          %th 100
        %tr
          %th 11
          %th Методы исследования операций
          %th ИС
          %th 216
          %th 104
          %th 52
          %th 35
          %th 17
          %th 112
  %footer