!!!
%html
  %head
    %title Лр1
    %meta{:charset => "utf-8"}/
    %link{:href => "../css.css", :rel => "stylesheet", :type => "text/css"}/
    %script{:src => "JS.js"}
  %body
    %div
      %header
        %h1{:align => "center"} Сайт Качановой Ксении
      %nav
        %ul.ots
          %li
            %a{:href => "main.html"} Главная
          %li
            %a{:href => "obomne.html"} Обо мне
          %li
            %a{:href => "interes.html"} Мои интересы
          %li
            %a{:href => "foto.html"} Фотоальбом
          %li
            %a{:href => "study.html"} Учеба
          %li
            %a{:href => "cont.html"} Контакты
    .ots
      %form{:action => "mailto:ks.elf.in03@gmail.com", :onsubmit => "return checkform(this)"}
        / 
        %label{:style => "position:relative;top:40px;"}
          ФИО:
          %input{:style => "position:relative;left:15px;", :type => "text"}/
        %br/
        %label{:style => "position:relative;top:50px;"}
          Группа:
          %input{"should-contain-number" => "", :type => "text"}/
          / 
        %br/
        %label{:style => "position:relative;top:60px;"} 1. Термин "исследование операций” появился …
        %select{:id => "", :name => "", :style => "position:relative;top:60px;"}
          %optgroup{:label => "Выбрать"}
            %option{:value => ""} в 60-ые годы XX века
            %option{:value => ""} в начале XXI века
            %option{:value => ""} в 50-ые годы XX века
            %option{:value => ""} в годы второй мировой войны
            %option{:value => ""} в 90-ые годы XX века
        %br/
        %label{:style => "position:relative;top:80px;"}
          2. Под исследованием операций понимают …
          %input{:type => "text"}/
          / 
        %label{:style => "position:relative;left:-529px;top:120px;"} 3. Решение называют оптимальным, …
        %br/
        %label{:style => "position:relative;top:120px;"}
          %input{:name => "radio1", :type => "radio"}/
          если оно рационально
        %br/
        %label{:style => "position:relative;top:120px;"}
          %input{:name => "radio1", :type => "radio"}/
          если оно по тем или иным признакам предпочтительнее других
          %br/
          %label{:style => "position:relative;"}
            %input{:name => "radio1", :type => "radio"}/
            если оно согласовано с начальством
          %br/
          %label{:style => "position:relative;"}
            %input{:name => "radio1", :type => "radio"}/
            если оно утверждено общим собранием
          %br/
          %button{:style => "position:relative;top:30px;", :type => "reset"} Очистить
          %button{:style => "position:relative;top:30px;", :type => "submit"} Отправить
  %footer